<ng-container
  *ngIf="{
    workItem: workItem$ | async,
    createWorkItemStatus: createWorkItemStatus$ | async,
    updateWorkItemStatus: updateWorkItemStatus$ | async,
    createUpdateErrorMessage: createUpdateErrorMessage$ | async,
  } as state"
>
  <div *ngIf="{ loading: state.createWorkItemStatus === ApiRequestStatus.Requesting } as variables" class="d-flex justify-content-center align-items-center">
    <input id="inputContent" type="text" class="form-control form-control-lg mr-3" placeholder="What do you need to do today?" [value]="state.workItem?.content" (change)="onChangeWorkItem($event, state.workItem!)" (keyup.enter)="onCreateUpdateWorkItem(state.workItem!)" />
    <button class="btn btn-primary btn-lg ms-2" [disabled]="variables.loading" (click)="onCreateUpdateWorkItem(state.workItem!)">
      <span *ngIf="!variables.loading"> {{ state.workItem?.id ? "Update" : "Add" }}</span>
    </button>
    <button *ngIf="state.workItem?.id" class="btn btn-outline-danger btn-lg ms-2" [disabled]="variables.loading" (click)="onCancel()">
      <span *ngIf="true">Cancel</span>
    </button>
  </div>
  <p class="text-font text-danger" *ngIf="submittedEmptyContent && !state.workItem?.content">Please enter your content</p>
  <p class="text-font text-danger mb-4">{{ state.createUpdateErrorMessage ?? "" }}</p>
</ng-container>
