<ng-container
  *ngIf="{
    workItem: workItem$ | async,
    createWorkItemStatus: createWorkItemStatus$ | async,
    updateWorkItemStatus: updateWorkItemStatus$ | async,
    createUpdateErrorMessage: createUpdateErrorMessage$ | async,
  } as state"
>
  <div *ngIf="{ loading: state.createWorkItemStatus || state.updateWorkItemStatus } as variables" class="d-flex justify-content-center align-items-center">
    <input type="text" class="form-control form-control-lg mr-3" placeholder="What do you need to do today?" (keyup.enter)="onCreateUpdateWorkItem(state.workItem!)" [(ngModel)]="state.workItem!.content" />
    <button class="btn btn-primary btn-lg ms-2" [disabled]="variables.loading" (click)="onCreateUpdateWorkItem(state.workItem!)">
      <span *ngIf="!variables.loading"> {{ state.workItem?.id ? "Update" : "Add" }}</span>
      <span *ngIf="variables.loading" class="spinner-border spinner-border-sm mx-2 mb-1" role="status" aria-hidden="true"></span>
    </button>
    <button *ngIf="state.workItem?.id" class="btn btn-outline-danger btn-lg ms-2" [disabled]="variables.loading" (click)="onCancel()">
      <span *ngIf="true">Cancel</span>
    </button>
  </div>
  <p class="text-font text-danger mb-4">{{ state.createUpdateErrorMessage ?? "" }}</p>
</ng-container>
